{% extends "base.html" %}
{% block content %}

<main class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-serif font-bold text-green-800 mb-2">Préstamos</h1>
    <p class="text-gray-600 mb-8">Descubre los préstamos realizados</p>

    <div class="bg-white p-4 rounded-lg shadow">
        <table class="min-w-full table-auto">
            <thead>
                <tr class="bg-green-100">
                    <th class="px-4 py-2 text-left">Usuario</th>
                    <th class="px-4 py-2 text-left">Implemento</th>
                    <th class="px-4 py-2 text-left">Instructor</th>
                    <th class="px-4 py-2 text-left">Fecha de Préstamo</th>
                    <th class="px-4 py-2 text-left">Fecha de Devolución</th>
                    <th class="px-4 py-2 text-left">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for prestamo in prestamos %}
                <tr class="border-b hover:bg-green-50">
                    <td class="px-4 py-2">{{ prestamo.usuario }}</td>
                    <td class="px-4 py-2">{{ prestamo.implemento }}</td>
                    <td class="px-4 py-2">{{ prestamo.instructor}}</td>
                    <td class="px-4 py-2">{{ prestamo.fecha_prestamo }}</td>
                    <td class="px-4 py-2">{{ prestamo.fecha_devolucion }}</td>
                    <td class="px-4 py-2">
                        {% if prestamo.estado == 'Activo' %}
                            <span class="text-green-600 font-semibold">{{ prestamo.estado }}</span>
                        {% else %}
                            <span class="text-gray-600">{{ prestamo.estado }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="px-4 py-2 text-center text-gray-600">No hay préstamos registrados.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

{% endblock %}